@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@500&display=swap');

/* ---------- Principal index ------------- */


body{
    background-color: #09002E;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 8px 1%;
    box-sizing: content-box;
    background-color: #05001B;
   

}

h1{
   

    position: absolute;
    width: 800px;
    height: 594px;
    left: 100px;
    top: 200px;

    font-family: 'Days One';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 80px;

    color: #FFFFFF;

    z-index: 5;
    
}

h2{
    position: absolute;
    width: 260px;
    height: 33px;
    left: 100px;
    top:380px;

    font-family: 'Montserrat';
    font-style: light;
    font-weight: 200;
    font-size: 20px;
    line-height: 35px;

    color: #FFFFFF;
}

h3{
    position: absolute;
    width: 800px;
    height: 594px;
    left: 900px;
    top: 700px;

    font-family: 'Days One';
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    line-height: 80px;

    color: #FFFFFF;
}

.barra{
    position: absolute;
    width:400px;
    height: 10px;
    left: 80px;
    top: 360px;

    background: #DF1073;
}

.barra02{
    position: absolute;
    width:430px;
    height: 10px;
    left: 930px;
    top: 775px;

    background: #DF1073;
}


.logo{
    cursor: pointer;
    height: 50px;
    width: 170px;
}

.nav_links{
    list-style:none;
    
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    transition: all 0.3s ease os;
}

.nav_links li a:hover {
    color: #E9398D;
}

button{
    padding: 9px 25px;
    background-color: #E9398D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #770a3f;
}

#seccion01 {
    position: absolute;
    width: 100%;
    height: 90%;
    background: radial-gradient(32.27% 40.65% at 72.06% 50%, #E9398D 0%, #09002E 100%);
}




.cardContainers{
    
    width: 100%;
    display: flex;
    max-width: 2000px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card{
    background-color: #3B3C3D;
    border-radius: 6px;
    border-color: grey;
    border-width: 1px;
    height: 570px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0, 0, 0.2);

    width: 33.33%;
}

.card:hover{
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
    transform: translateY(-3%);
}


.card-img-top{
    border-radius: 6px;
    width: 100%;
    height: 280px;
}

.card-title{
    color: white;
    font-size: medium;
}

.card-text{
    padding: 5px;
    text-align: left;
}

.form-label{
    color: azure;
}


.formLogin{
    background-color: #3B3C3D;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    left: 25%;
    top: 25%;
   transition: all 500ms ease;
}


/* ---------- Contenedor de Tarjetas NFT ------------- */


.contenedorCards {
    
    gap: 30px;
    display: flex;    
    max-width: 1500px;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content:right;
    margin-right: 20px;   
    margin-top: 30px;
   
   
    
    
}

.cardAA{
    

    
    width: 250px;
    height: 360px;
    padding: 10px;
    background: #09002E;
    border: 2px solid #DF1073;
    border-radius: 15px;

    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0, 0, 0.2);
    
    
}

.cardAA:hover{
    box-shadow: 5px 5px 20px rgb(194, 0, 107);
    transform: translateY(-3%);
}


.imagenNftCard{
    width: 100%;
    border-radius: 10px;
    height: 240px;
    
    
    
}

.creador{
    width: 100%;
    height: 50px;
    background: rgba(217, 217, 217,0.3);
    border-radius: 0px 0px 15px 15px;
    backdrop-filter: blur(2px);
    margin-top: -55px;
    display: flex;
    
    
}
.texto-creador{
    font-family: "Montserrat";
   
}



.imgCreador{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: 5px;
}

.creador-descrip{
    font-size: 10pt;
    color: #edf0f1;
    font-family: "Montserrat";
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 5px;
}

.creador-nombre{
    font-size: 12pt;
    color: #edf0f1;
    font-family: "Montserrat";
    font-weight: 900;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.nombrenftdiv{
    top: 300px;
}

.nombre-nft{
    font-size: 10pt;
    color: #edf0f1;
    font-family: "Montserrat";
    position: relative;
    left: 10px;
    top: 15px;    
}

.casilla-precio{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    position: relative;
    gap: 50px;
    top: 20px;
}

.blockCard{
    color: white;
    
    font-size: small;
   
}

.seccionprccrypto{
    
    display: flex;
    border: #DF1073;
    gap: 10px;
    border: 1px solid #DF1073;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: 40px;
    justify-content: center;

    
}
.price-crypto{
    
    color:#DF1073 
}

.ver{
    border-radius: 15px;
    color:#edf0f1;
    width: 80px;
    height: 40px;
}

.fondo_card{
   
   
    width:auto;
    height: 45%;
    z-index: 20;
    background:#09002E
}


/* ----------Filtro NFTS ----------------*/


.filtro-nfts{
background-color: #DF1073;
position: fixed;
left: 0px;
top: 80px;
height: 600px;
width: 400px;
border-radius: 0px 20px 20px 0px;

}

input{
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin: 20px;
}




title {
    
    width: 200px;
    height: 200px;
    left: 200px;
    top: 200px;

    font-family: 'Days One';
    font-style: normal;
    font-weight: 100;
    font-size: 200px;
    line-height: 200px;

    color: #FFFFFF;
}

.cryptoBar {
    background-color: #05001B;
    position: fixed;
    margin-top: 600px;
    margin-left: 15px;
    margin-right: 15px;
    height: 90px;
    width: 1400px;
    border-radius: 20px;
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
   
}

.cryptoCard{
display: flex;
justify-content: center;
gap: 10px;
}

.cryptoName{
    font-family: "Montserrat";
    font-size: 12px;
    color: #DF1073;
    
}

.cryptoPrecio{
    color: #DF1073;
    font-family: "Montserrat";
    font-size: 15px;
}


.img001{
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 500px;
    left: 720px;
    top: 50px;
    background: #FFFFFF;
    border: 2px solid #DF1073;
    border-radius: 20px;
    z-index: 3;
}

.img001:hover{
    width: 340px;
    height: 520px;
    left: 700px;
    top: 45px;
    transition: all 0.3s ease 0s;
}

.img002{
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 450px;
    left: 870px;
    top: 70px;
    background: #FFFFFF;
    border: 2px solid #DF1073;
    border-radius: 20px;
    z-index: 2;
    transform: rotate(12deg);
}

.img002:hover{
   
    left: 950px;
    top: 70px;
    transition: all 0.3s ease 0s;
}

.img003{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 400px;
    left: 980px;
    top: 115px;
    background: #FFFFFF;
    border: 2px solid #DF1073;
    border-radius: 20px;
    z-index: 1;
    transform: rotate(22deg);
}

.img003:hover{
   
    left: 1100px;
    top: 100px;
    transition: all 0.3s ease 0s;
}

.tarjetas02{
display: flex;
position:absolute;

}

.img004{
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 500px;

    left: 200px;
    top: 850px;
    background: #FFFFFF;
    border: 2px solid #DF1073;
    border-radius: 20px;
    
}

.img005{
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 500px;
    left: 600px;
    top: 950px;
    background: #FFFFFF;
    border: 2px solid #DF1073;
    border-radius: 20px;
}

.img006{
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 500px;
    left: 1000px;
    top: 850px;
    background: #FFFFFF;
    border: 2px solid #DF1073;
    border-radius: 20px;
    
}

.piePagina{
    width: 100%;
    height: 400px;
    margin-top: 3000px;
    background-color: #DF1073;
}


/* ----------- popup Metamask --------------- */

.contenedor{
    position: fixed;
    z-index: 7;

    width: 330px;
    height: 600px;
    margin-left: 600px;
    justify-content: center;
    background-color: #edf0f1;
    border-radius: 5px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    
}


#btn-modal:checked ~ .contenedor{
    opacity: 1;
    visibility: visible;
}


#btn-modal{
    display: none;
}


.lbl-modal{
    background: #DF1073;
    padding: 10px 25px;
    border-radius: 100px;
    cursor: pointer;

    position: absolute;
    left: 90px;
    top: 430px;
    z-index: 100;

    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0, 0, 0.2);
}

.lbl-modal:hover {
    
    box-shadow: 5px 5px 20px rgb(194, 0, 107);
    transform: translateY(-3%);
}

.encabezadoMeta{
    background-color: lightgrey;
    border-radius: 5px;
    height: 55px;

}

.seccionMeta{
    display: flex;
   justify-content: center;
   text-align: center;
}

.mainnet{
    font-size: 12px;
    margin-top: 10px;
}


.formMeta{
    margin-top: 160px;
    text-align: center;
}

#password{
    margin: 10px;
    width: 300px;

}

#unlockMeta{
    width: 300px;
    padding: 10px;
    margin: 15px;
    background-color: cornflowerblue;
    
}

.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; 
  }
  
  /* Botonoes blockchains */
  .show {
    display: block;
  }
  
  
  .btn {
    
    outline: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    cursor: pointer;
    
  }
  

  .btn:hover {
    background-color: #ddd;
  }
  
 
  .btn.active {
    background-color: #666;
    color: white;
  }

  .currencyFilt{
    background: #DF1073;
    display: flex;
    padding: 15px;
    max-height: 80px;
    
  }

  

  .seccionBlock{
    width: 100%;
  }

  .seccionPrecio{
    left: 300px;
    width: 100%;
    z-index: 100;
    
  }




















